//Colors
@white: #fff;
@black: #000;
@lime-white: #F7F9FC;

body {
  background-color: @lime-white !important;
}


// Header
header {
  z-index: 10;
  height: 80px;
  width: 100%;
  position: relative;
  top: 0px;
  .inner-header {
      padding-left: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 80px;
      .logo {
          display: flex;
          flex-direction: row;
          align-items: center;
          a { 
              padding-left: 3.25rem;
              font-weight: 700;
              font-size: 1rem;
              text-decoration: none;
              letter-spacing: 1px;
              color: @black;
              text-transform: uppercase;
              margin-left: -2.75rem;
              // span {
              //     font-weight: 300;
              // }
          }
      }
      .navigation {
          // position: relative;
          // top: 10px;
          nav {
              padding-right: 50px;
              a {
                  font-weight: 700;
                  margin: 0 20px;
                  text-decoration: none;
                  letter-spacing: 0.75px;
                  text-transform: uppercase;
                  font-size: 0.75rem;
                  color: @black;
              }
          }
      }
  }
}

// Footer
.footer {
    width: 100%;
    position: absolute;
    bottom: 12px;
    text-align: center;
}

// Home
.home-layout, .game-layout {
  display: flex;
  justify-content: center;
}

.stream {
  max-width: 640px;
  margin-top: 100px;
  position: relative;
  img {
    &:not(.move-icon){
      width: 640px;
      height: 480px;
      background-color: rgba(0, 0, 0, 0.25);
      border-radius: 22px;
      box-shadow: 5px 12px 21px -1px rgba(0, 0, 0, 0.25);
    }
  }
  .game-btn{
    z-index: 1000;
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
  }
  .game-progress-bar {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 1s linear, background-color 1s ease;
    div {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .result {
    position: absolute;
    bottom: -150px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    text-align: center;
  }
}

.progress-bar {
  z-index: 1;
  background-color: @primary-color;
  height: 8px;
  margin-top: 24px;
  border-radius: 4px;
  transition: width 0.2s ease-in-out;
  div {
    z-index: -1;
    width: 640px;
    height: 8px;
    background-color: #000;
    opacity: 0.2;
    border-radius: 4px;
  }
}

.info-card {
  position: absolute;
  right: -125px;
  top: -75px;
  width: 260px;
  background-color: @white;
  border-radius: 22px;
  box-shadow: 5px 12px 21px -1px rgba(0, 0, 0, 0.25);
  padding: 24px;
  .info-title {
    font-size: 24px;
    color: @primary-color;
    font-weight: 500;
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
  }
}

.ant-btn {
  border-radius: 12px !important;
}

.move-history{
  display: flex;
  flex-direction: column;
}

.move-icon {
  width: 60px;
  height: 60px;
}

//scoreCard
.score-card {
  position: absolute;
  bottom: -75px;
  width: 160px;
  background-color: @white;
  border-radius: 22px;
  box-shadow: 5px 12px 21px -1px rgba(0, 0, 0, 0.25);
  padding: 24px;
  text-align: center;
  &.right {
    right: -80px;
    // text-align: right;
  }
  &.right-glow {
    box-shadow: 5px 12px 21px -1px rgba(0, 255, 0, 0.45);
  }
  &:not(.right) {
    left: -80px;
  }
  .name{
    font-weight: 500;
  }
  .score{
    font-size: 32px;
    line-height: 1;
  }
}

.card-glow {
  box-shadow: -5px 12px 21px -1px rgba(0, 255, 0, 0.45);
}

//info
.move-history {
  z-index: -2;
  position: absolute;
  bottom: 80px;
  width: 60px;
  display: flex;
  align-items: center;
  &.right {
    right: -90px;
  }
  &:not(.right) {
    left: -90px;
  }
  img {
    &:nth-child(1) {
      opacity: 0.8;
    }
    &:nth-child(2) {
      opacity: 0.6;
    }
    &:nth-child(3) {
      opacity: 0.4;
    }
    &:nth-child(4) {
      opacity: 0.3;
    }
    &:nth-child(5) {
      opacity: 0.2;
    }
    &:nth-child(6) {
      opacity: 0.1;
    }
  }
}

.about-page {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding-left: 50px;
  h1{
    font-size: 48px;
    font-weight: 300;
  }
  img{
    width: 450px;
  }
  p {
    font-size: 16px;
  }
}